body {
    font-family: 'Minecraft';
    margin: 0;
    padding: 0;
    min-height: 100vh;
    background-color: #121212;
    color: #e0e0e0;
    display: grid;
    grid-template-rows: 1fr auto;
    text-align: center;
}


@font-face {
    font-family: 'Minecraft';
    src: url('../fonts/Minecraft.ttf');
}

.hidden {
    display: none !important;
}

.logo {
    height: 100px;
    width: 100px;
}

.main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.container {
    background-color: #1e1e1e;
    border-radius: 10px;
    padding: 20px;
    margin: 0 auto;
    margin-bottom: 20px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.5);
    max-width: 500px;
    width: 100%;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1 {
    color: #4CAF50;
    font-size: 3rem;
}

label {
    color: #e0e0e0;
    font-size: 25px;
}

input,
button {
    margin: 10px 0;
    padding: 8px;
    font-family: 'Minecraft';
    font-size: 25px;
    color: #121212;
    background-color: #e0e0e0;
    border: 1px solid #4CAF50;
    border-radius: 4px;
}

input[type=number] {
    text-align: center;
}

button {
    cursor: pointer;
    background-color: #4CAF50;
    color: #121212;
    font-weight: bold;
}

button:hover {
    background-color: #45a049;
}

.result {
    margin-top: 20px;
    font-size: 22px;
    color: #f5f5f5;
    min-height: 40px;
}

.footer {
    text-align: center;
    padding: 10px;
    background-color: #1e1e1e;
    margin: 0 auto;
    border-radius: 10px 10px 0 0;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.5);
    max-width: 500px;
    width: 100%;
}

.footerText {
    color: #e0e0e0;
    font-size: 25px;
}

@media (min-width: 768px) and (max-width: 991px) {

    .container,
    .footer {
        max-width: 500px;
    }
}

@media (min-width: 600px) and (max-width: 767px) {

    .container,
    .footer {
        max-width: 400px;
    }

    h1 {
        font-size: 2.5rem;
    }
}

@media (max-width: 599px) {

    .container,
    .footer {
        max-width: 350px;
    }

    h1 {
        font-size: 2rem;
    }
}